<form method="post" action="{{ path('genre_delete', {'id': genre.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cet Genre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.id) }}">
    <button class="btn btn-danger"><i class="bi bi-trash"></i> Supprimer</button>
</form>
