<form method="post" action="{{ path('livre_delete', {'id': livre.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cet Livre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livre.id) }}">
    <button class="btn btn-danger"><i class="bi bi-trash"></i> Supprimer</button>
</form>
